*.bak
*.new
*.tmp
bbjs-doc-cn-omegat.tmx
last_entry.properties
project_stats.txt
project_stats_match.txt
bbjs-doc-cn-level1.tmx
bbjs-doc-cn-level2.tmx
bbjs-level1.tmx
bbjs-level2.tmx
bbjs-omegat.tmx

# C extensions
*.so

*.log

.DS_Store
